#one{
    position: absolute;
    top:35%;
    left:35%;
}

.input1{
    width:300px;
}

input[type = submit]{
    font-size: 15px;
}

#pay{
    display: inline-block;
    width :40px;
    height:40px;
    border-radius: 50%,50%;
    margin: 0 auto;
}

#toll_index{
    width:36%;
    margin:0 auto;
}

#toll_1{
    width:100%;
    font-size: 20px;
    margin: 0 auto;
}

#toll_12{
    width:100px;
    margin: 0 auto;
}
#toll_login{
    width:500px;
    margin: 0 auto;
}

#payment_buttons{
    width:100px;
}

#paymentE{
    margin-right: 20px;
}