#one{
    position: absolute;
    top:35%;
    left:35%;
}

.input1{
    width:300px;
}

input[type = submit]{
    font-size: 15px;
}

#pay{
    display: inline-block;
    width :40px;
    height:40px;
    border-radius: 50%,50%;
    margin: 0 auto;
}