<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Toll_client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="toll_index">
        <h1 style="text-align:center">TOLL CLIENT</h1>
        <h2 style="text-align:center">License Plate No : <input type="text" value={{number}}></h2>
        <p style="text-align:center">Toll Fee: {{fee}}</p>
        <div id="toll_12"><button id="toll_1" style="text-align:center">confirm</button></div>
    </div>
</body>
</html>